---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead-simple.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Gold Coast photography by Jordan Pavey.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-white">
        Empowering Australian Businesses with Faster Applications and Websites.
      </h2>
      <p class="text-lg leading-relaxed text-slate-300 my-4">
        Welcome to Snacks For Your Eyes Photography, where moments become lasting memories through the lens of Jordan Pavey. 
        Jordan is not just a photographer but a passionate storyteller who has mastered the art of capturing life's most precious 
        moments along the stunning Gold Coast. With a keen eye for detail and an unwavering dedication to his craft, Jordan has 
        established himself as a leading photographer in the region.  
      </p>
      <p class="text-lg leading-relaxed text-slate-300 my-4">
        Born and raised on the picturesque Gold Coast, Jordan has an intimate connection with its diverse landscapes, 
        from the sun-kissed beaches to the lush hinterland rainforests. This deep appreciation for the natural beauty of 
        the area is evident in his work, as he effortlessly combines the golden hues of the coast with the vibrant colors of life.  
      </p>
      <p class="text-lg leading-relaxed text-slate-300 my-4">
        At Snacks For Your Eyes Photography, Jordan's goal is not only to take pictures 
        but to create visual narratives that resonate with his clients. He understands that every moment is unique, and every 
        individual has a story to tell. Whether it's capturing the joy of a family gathering, the love between a couple, or 
        the excitement of an event, Jordan's photography goes beyond the ordinary to encapsulate the extraordinary emotions 
        that define our lives.  
      </p>
      <p class="text-lg leading-relaxed text-slate-300 my-4">
        With years of experience and an innate ability to put his subjects at ease, Jordan Pavey is more than just a photographer; 
        he's a moment magician, turning life's fleeting instants into timeless treasures. His portfolio is a testament to his versatile 
        skills, spanning from candid portraits to breathtaking landscapes, each frame infused with his passion for photography.  
      </p>
      <p class="text-lg leading-relaxed text-slate-300 my-4">
        As you explore the world of Snacks For Your Eyes Photography and get to know Jordan, you'll discover a creative and dedicated 
        artist who strives to make your memories as beautiful as they are memorable. Jordan Pavey invites you to embark on a visual 
        journey with him, where every click of the shutter brings forth a delectable treat for your eyes, and every photograph tells 
        a story worth cherishing.
      </p>
    </div>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-white">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-300">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
