---
import ContainerFW from "@components/container-fullwidth.astro";
import ContainerXL from "@components/container-xl.astro";
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import HeroSecondary from "@components/sectionmid-slider-cases.astro";
import Clients from "@components/sectionmid-grid-clients.astro";
import { Picture } from "@astrojs/image/components";
import SectionHeadImg from "@components/sectionhead-img.astro";
import SectionHeadImgRev from "@components/sectionhead-img-rev.astro";
import MoonshotSectionmid from "@components/sectionmid-singleproduct-moonshot.astro";
import VelocitySectionmid from "@components/sectionmid-singleproduct-velocity.astro";
import MoonshotCover from '../assets/backgrounds/cubed.webp';
import WeddingCover from '../assets/snacks/weddings/weddings-vertical-1.webp';
import CommercialCover from '../assets/snacks/commercial/commercial-vertical-1.webp';
import EventsCover from '../assets/snacks/events/events-vertical-1.webp';
import PortraitCover from '../assets/snacks/portraits/portraits-vertical-1.webp';
import WeddingGallerySlider from "@components/slider-med-services-weddings.astro";

import Cta from "@components/cta.astro";
import ProductSlider from "@components/slider-lrg-services-main.astro";
import BlogSlider from "@components/slider-content.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
  <ContainerFW>
    <Hero />
  </ContainerFW>

  <ContainerXL>    
    <SectionHeadImg>
      <Fragment slot="title">
        Events.
      </Fragment>
      <Fragment slot="desc">
        Diving deep into the action for events, an absolute passion growing around the Gold Coast music scene. Available to book <a class="italic" href="/contact">here</a>.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={EventsCover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="9:16"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>

    <SectionHeadImgRev>
      <Fragment slot="title">
        Commercial.
      </Fragment>
      <Fragment slot="desc">
        High quality product photography on the Gold Coast, stylised to your needs. Available to book <a class="italic" href="/contact">here</a>.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CommercialCover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="9:16"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImgRev>

    <SectionHeadImg>
      <Fragment slot="title">
        Weddings.
      </Fragment>
      <Fragment slot="desc">
        I like to bring an mordern artistic approach to my wedding photograhy, styles inspired by the 90's and landscapes. Available to book <a class="italic" href="/contact">here</a>.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={WeddingCover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="9:16"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>
    <WeddingGallerySlider />

    <SectionHeadImgRev>
      <Fragment slot="title">
        Portraits.
      </Fragment>
      <Fragment slot="desc">
        High quality portrait photography on the Gold Coast, inspired by film camera units with a modern HD approach. Available to book <a class="italic" href="/contact">here</a>.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PortraitCover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="9:16"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImgRev>

  </ContainerXL>

  <ContainerFW>
    <ProductSlider />
  </ContainerFW>


  <Container>
    <Cta />
  </Container>

</Layout>
