---
import Link from "./ui/link.astro";
---
<style>
  #glass-card {     
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.1);
    box-shadow: 0 0 80px #0003;
    overflow: hidden;
    border-radius: 25px;
    padding: 45px 60px;
    margin: 45px 15px; 
}
</style>

<div id="glass-card"
  class=" duration-200 px-4 md:px-16 lg:px-32 my-16 md:my-32 py-16 md:py-32 mx-4 md:mx-16 rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white font-bold text-3xl md:text-5xl tracking-tight">
    Speak to me directly about a photography project.
  </h2>
  <p class="text-slate-400 px-4 lg:px-16 my-8 text-md md:text-lg">
    I like to chat directly about projects to give every client personalised scope in minutes.
  </p>
  
  <div class="flex">
    <Link href="/contact" style="inverted">Contact</Link>
  </div>
</div>
