<footer class="my-20">
  <p class="text-center text-sm text-slate-300">
    Copyright © {new Date().getFullYear()} Snacks for your Eyes. All rights reserved.
  </p>
  <p class="text-center font-semibold text-xs hover:text-white text-slate-300 mt-1">
    Made by <a
      href="https://aidxn.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Aidxn Design
    </a>
  </p>
</footer>
