---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<style>
.glassCard {     
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.1);
    box-shadow: 0 0 80px #0003;
    overflow: hidden;
    border-radius: 25px;
    padding: 45px 15px;
    margin: 45px 15px; 
}

  svg{width:100%;height:100%;perspective:50px}circle{stroke:#6D00A8;stroke-width:8px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
</style>

<main class="my-8 md:my-16">
  <div id="heroSection" class="flex flex-col-reverse md:flex-row items-center mb-8">
    
    <div class="w-full">

      <div id="glassCard" class="text-center">
        <h1 style="heroTagline" class="text-5xl md:text-7xl lg:text-8xl w-full pt-4 md:pt-8 md:pr-2 lg:pr-4 font-bold tracking-tighter">
          Feeding eyes around Australia.
        </h1>
        <p class="mx-auto text-lg lg:text-xl mt-6 text-slate-700 w-full lg:max-w-3xl">
          Gold Coast based professional photographer, Jordan Pavey. Capturing brands vibrantly and covering live events.
          <wbr>
        </p>
        <div class="max-w-3xl mx-auto mt-12 flex flex-col sm:flex-row justify-center gap-3">
          
          <a href="/contact" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-black" name="ph:camera-light" />
            </svg>
            
            Contact

          </a>

          <a href="/about" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-white" name="ph:envelope-light" />
            </svg>

            About

          </a>

        </div>
      </div>
    </div>
  </div>
</main>
