---
const { align = "center" } = Astro.props;
---

<style>
  #container { padding: 45px 15px; }
</style>

<div class="my-8 md:my-16 flex flex-col-reverse md:flex-row justify-start items-center">
  <div id="container" class="w-full md:w-1/2 lg:w-2/3">
    <h2 class="text-6xl lg:text-7xl xl:text-8xl font-bold lg:tracking-tight">
      <slot name="title">Title</slot>
    </h2>
    <p class="text-lg lg:text-xl max-w-xl mt-4 text-slate-300">
      <slot name="desc">Some description goes here</slot>
    </p>
  </div>
  <div id="container" class="w-full md:w-1/2 lg:w-1/3 my-4">
    <slot class="bg-grey-700 rounded" name="cover"></slot>
  </div>
</div>
