---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";

import Events1 from '../assets/snacks/events/events-1.webp';
import Events2 from '../assets/snacks/events/events-2.webp';
import Events3 from '../assets/snacks/events/mos-1.webp';

const services = [
{
    title: "Brookes @ Mo's Clubhouse",
    category: "Events",
    imgsrc: Events1,
    imgalt: "Gold Coast event photography.",
    
    style: "outline",
    btntxt: "More",
    
    btnlink: "/events",
  },
  {
    title: "Brookes @ Mo's Clubhouse",
    category: "Events",
    imgsrc: Events2,
    imgalt: "Gold Coast event photography.",
    
    style: "outline",
    btntxt: "More",
    
    btnlink: "/events",
  },
  {
    title: "Brookes @ Mo's Clubhouse",
    category: "Events",
    imgsrc: Events3,
    imgalt: "Gold Coast event photography.",
    
    style: "outline",
    btntxt: "More",
    
    btnlink: "/events",
  },
  
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  .carousel-cell {
    margin: 40px 20px;
    height: 240px;
    max-height: 55vh;
  }
  @media only screen and (max-width: 968px) {
  .carousel-cell {
    height: 120px;
  }
}

  /* Start Flickity viewport safeguards V3 */
  main { max-width: 100%; }
  .eventsml-carousel, .flickity-viewport { max-width: 100vw !important; margin: 0 auto; min-height: fit-content; }
  /* End Flickity viewport safeguards V3 */
  .eventsml-carousel { margin: 20px auto; }


  /* Glass-card effect dial in, minimal */
  #glass-card {
    background: rgba(255, 255, 255, 0.2);
    margin: 20px 40px; padding: 40px 20px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
    border-radius: 25px;
    padding: 45px 15px;
    margin: 45px 15px;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }

  #imgTitle, #imgDesc { color: black; mix-blend-mode: difference; }

  </style>

<main id="glass-card" class="my-8 md:my-16">
<div class="mb-8">
  <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
    Recent events photography.
  </h2>
  <p class="text-lg lg:text-xl max-w-7xl mt-4 text-slate-300">
    I love to get around events looking for the more human connection to show. Keeping shots to a less invasive angle while still feeling right in the action.
  </p>
</div>

<div id="sliderContainer" class="eventsml-carousel h-fit">
  {
    services.map((item) => (
      <div class="carousel-cell flex flex-col xl:flex-row justify-center md:items-center h-fit w-3/4 md:w-3/5 lg:w-2/5">
        <a href={item.btnlink}>
          <div id="imgContainer" class="w-full">
            <Picture
                src={item.imgsrc}
                sizes="(max-width: 3600px) 3600px, 2400px, 1200px"
                widths={[1200, 2400, 3600]}
                aspectRatio="3:2"
                loading="eager"
                background="#f2f2f200"
                fit="cover"
                position="center"
                class="w-full"
              />
          </div>
        </a>
      </div>
    ))
  }
</div>
<div class="mt-2 mb-4">
  <Link style="inverted" href="/events" size="md" block>All Photos</Link>
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.eventsml-carousel', {
  cellAlign: 'center',
  contain: true,
  freeScroll: true,
  imagesLoaded: true,  
  adaptiveHeight: true,
  prevNextButtons: false,
  pageDots: false,
  });
</script>
