---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";

import Portraits1 from '../assets/snacks/portraits/portraits-1.webp';
import Portraits2 from '../assets/snacks/portraits/portraits-2.jpg';
import Portraits3 from '../assets/snacks/portraits/portraits-3.jpg';
import Portraits4 from '../assets/snacks/portraits/portraits-4.jpg';
import Portraits5 from '../assets/snacks/portraits/portraits-5.jpg';
import Portraits6 from '../assets/snacks/portraits/portraits-6.jpg';
import Portraits8 from '../assets/snacks/portraits/portraits-8.jpg';
import Portraits9 from '../assets/snacks/portraits/portraits-9.jpg';
import Portraits10 from '../assets/snacks/portraits/portraits-10.jpg';
import Portraits11 from '../assets/snacks/portraits/portraits-11.jpg';
import Portraits12 from '../assets/snacks/portraits/portraits-12.jpg';
import Portraits13 from '../assets/snacks/portraits/portraits-13.jpg';
import Portraits14 from '../assets/snacks/portraits/portraits-14.jpg';
import Portraits15 from '../assets/snacks/portraits/portraits-15.jpg';
import Portraits16 from '../assets/snacks/portraits/portraits-16.jpg';
import Portraits17 from '../assets/snacks/portraits/portraits-17.jpg';
import Portraits18 from '../assets/snacks/portraits/portraits-18.jpg';
import Portraits19 from '../assets/snacks/portraits/portraits-19.jpg';
import Portraits20 from '../assets/snacks/portraits/portraits-20.jpg';
import Portraits21 from '../assets/snacks/portraits/portraits-21.jpg';
import Portraits22 from '../assets/snacks/portraits/portraits-22.jpg';
import Portraits23 from '../assets/snacks/portraits/portraits-23.jpg';
import Portraits24 from '../assets/snacks/portraits/portraits-24.jpg';
import Portraits25 from '../assets/snacks/portraits/portraits-25.jpg';


const services = [
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits1,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits2,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits3,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits4,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits5,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits6,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits8,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits9,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits10,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits11,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits12,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits13,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits14,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits15,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits16,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits17,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits18,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits19,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits20,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits21,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits22,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits23,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits24,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
  {
    title: "Snacks Studio @ Gold Coast",
    category: "Portraits",
    imgsrc: Portraits25,
    imgalt: "Gold Coast professional portrait photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/portraits",
  },
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  .carousel-cell {
    margin: 40px 20px;
    height: 350px;
    max-height: 55vh;
  }

  /* Start Flickity viewport safeguards V3 */
  main { max-width: 100%; }
  .portraitsml-carousel, .flickity-viewport { max-width: 100vw !important; margin: 0 auto; min-height: fit-content; }
  /* End Flickity viewport safeguards V3 */
  .portraitsml-carousel { margin: 20px auto; }


  /* Glass-card effect dial in, minimal */
  #glass-card {
    background: rgba(255, 255, 255, 0.2);
    margin: 20px 40px; padding: 40px 20px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }

  #imgTitle, #imgDesc { color: black; mix-blend-mode: difference; }

  </style>

<main class="my-8 md:my-16">
<div class="mb-8">
  <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
    Recent portrait photography works.
  </h2>
  <p class="text-lg lg:text-xl max-w-7xl mt-4 text-slate-300">
    Portraits are where I started really getting into professional photography. My hire work includes all necessary lighting and extra equipment.
  </p>
</div>

<div id="sliderContainer" class="portraitsml-carousel h-fit pb-4">
  {
    services.map((item) => (
      <div class="carousel-cell flex flex-col xl:flex-row justify-center md:items-center h-fit w-full md:w-3/5 lg:w-2/5">
        <a href={item.btnlink}>
          <div id="imgContainer" class="w-full">
            <Picture
                src={item.imgsrc}
                sizes="(max-width: 3600px) 3600px, 2400px, 1200px"
                widths={[1200, 2400, 3600]}
                aspectRatio="16:9"
                loading="eager"
                background="#f2f2f200"
                fit="cover"
                position="center"
                class="w-full"
              />
          </div>
        </a>
      </div>
    ))
  }
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.portraitsml-carousel', {
  cellAlign: 'center',
  contain: true,
  freeScroll: true,
  imagesLoaded: true,  
  adaptiveHeight: true,
  });
</script>
