---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";

import Weddings1 from '../assets/snacks/weddings/weddings-1.webp';
import Weddings2 from '../assets/snacks/weddings/weddings-2.webp';
import Weddings3 from '../assets/snacks/weddings/weddings-3.webp';
import Weddings4 from '../assets/snacks/weddings/weddings-4.webp';
import Weddings5 from '../assets/snacks/weddings/weddings-5.jpg';
import Weddings6 from '../assets/snacks/weddings/weddings-6.jpg';
import Weddings7 from '../assets/snacks/weddings/weddings-7.jpg';
import Weddings8 from '../assets/snacks/weddings/weddings-8.jpg';
import Weddings9 from '../assets/snacks/weddings/weddings-9.jpg';
import Weddings10 from '../assets/snacks/weddings/weddings-10.jpg';
import Weddings11 from '../assets/snacks/weddings/weddings-11.jpg';
import Weddings12 from '../assets/snacks/weddings/weddings-12.jpg';
import Weddings13 from '../assets/snacks/weddings/weddings-13.jpg';
import Weddings14 from '../assets/snacks/weddings/weddings-14.jpg';
import Weddings15 from '../assets/snacks/weddings/weddings-15.jpg';
import Weddings16 from '../assets/snacks/weddings/weddings-16.jpg';
import Weddings17 from '../assets/snacks/weddings/weddings-17.jpg';
import Weddings18 from '../assets/snacks/weddings/weddings-18.jpg';
import Weddings19 from '../assets/snacks/weddings/weddings-19.jpg';
import Weddings20 from '../assets/snacks/weddings/weddings-20.jpg';
import Weddings21 from '../assets/snacks/weddings/weddings-21.jpg';
import Weddings22 from '../assets/snacks/weddings/weddings-22.jpg';
import Weddings23 from '../assets/snacks/weddings/weddings-23.jpg';
import Weddings24 from '../assets/snacks/weddings/weddings-24.jpg';
import Weddings25 from '../assets/snacks/weddings/weddings-25.jpg';
import Weddings26 from '../assets/snacks/weddings/weddings-26.jpg';
import Weddings27 from '../assets/snacks/weddings/weddings-27.jpg';
import Weddings28 from '../assets/snacks/weddings/weddings-28.jpg';
import Weddings29 from '../assets/snacks/weddings/weddings-29.jpg';
import Weddings30 from '../assets/snacks/weddings/weddings-30.jpg';
import Weddings31 from '../assets/snacks/weddings/weddings-31.jpg';
import Weddings32 from '../assets/snacks/weddings/weddings-32.jpg';
import Weddings33 from '../assets/snacks/weddings/weddings-33.jpg';
import Weddings34 from '../assets/snacks/weddings/weddings-34.jpg';
import Weddings35 from '../assets/snacks/weddings/weddings-35.jpg';
import Weddings36 from '../assets/snacks/weddings/weddings-36.jpg';
import Weddings37 from '../assets/snacks/weddings/weddings-37.jpg';
import Weddings38 from '../assets/snacks/weddings/weddings-38.jpg';
import Weddings39 from '../assets/snacks/weddings/weddings-39.jpg';
import Weddings40 from '../assets/snacks/weddings/weddings-40.jpg';
import Weddings41 from '../assets/snacks/weddings/weddings-41.jpg';
import Weddings42 from '../assets/snacks/weddings/weddings-42.jpg';
import Weddings43 from '../assets/snacks/weddings/weddings-43.jpg';
import Weddings44 from '../assets/snacks/weddings/weddings-44.jpg';
import Weddings45 from '../assets/snacks/weddings/weddings-45.jpg';
import Weddings46 from '../assets/snacks/weddings/weddings-46.jpg';
import Weddings47 from '../assets/snacks/weddings/weddings-47.jpg';
import Weddings48 from '../assets/snacks/weddings/weddings-48.jpg';
import Weddings49 from '../assets/snacks/weddings/weddings-49.jpg';
import Weddings50 from '../assets/snacks/weddings/weddings-50.jpg';

const services = [
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings1,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings2,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings3,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings4,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings5,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings6,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings7,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings8,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings9,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings10,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings11,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings12,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings13,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings14,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings15,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings16,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings17,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings18,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings19,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings20,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings21,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings22,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings23,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings24,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings25,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings26,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings27,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings28,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings29,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings30,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings31,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings32,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings33,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings34,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings35,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings36,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings37,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings38,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings39,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings40,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings41,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings42,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings43,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings44,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings45,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings46,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings47,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings48,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings49,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  {
    title: "C&J's Wedding @ South Tweed",
    category: "Weddings",
    imgsrc: Weddings50,
    imgalt: "Gold Coast weddings photography.",
    style: "outline",
    btntxt: "More",
    btnlink: "/weddings",
  },
  
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  .carousel-cell {
    margin: 40px 20px;
    height: 350px;
    max-height: 55vh;
  }

  /* Start Flickity viewport safeguards V3 */
  main { max-width: 100%; }
  .wedsml-carousel, .flickity-viewport { max-width: 100vw !important; margin: 0 auto; min-height: fit-content; }
  /* End Flickity viewport safeguards V3 */
  .wedsml-carousel { margin: 20px auto; }


  /* Glass-card effect dial in, minimal */
  #glass-card {
    background: rgba(255, 255, 255, 0.2);
    margin: 20px 40px; padding: 40px 20px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }

  #imgTitle, #imgDesc { color: black; mix-blend-mode: difference; }

  </style>

<main class="my-8 md:my-16">
<div class="mb-8">
  <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
    Recent wedding photography work.
  </h2>
  <p class="text-lg lg:text-xl max-w-7xl mt-4 text-slate-300">
    Weddings are one of my favourite things to photograph, showing off the beautiful day of connection and coming together to celebrate. I'd be happy to chat about how you want your day captured.
  </p>
</div>

<div id="sliderContainer" class="wedsml-carousel h-fit pb-4">
  {
    services.map((item) => (
      <div class="carousel-cell flex flex-col xl:flex-row justify-center md:items-center h-fit w-full md:w-3/5 lg:w-2/5">
        <a href={item.btnlink}>
          <div id="imgContainer" class="w-full">
            <Picture
                src={item.imgsrc}
                sizes="(max-width: 3600px) 3600px, 2400px, 1200px"
                widths={[1200, 2400, 3600]}
                aspectRatio="16:9"
                loading="eager"
                background="#f2f2f200"
                fit="cover"
                position="center"
                class="w-full"
              />
          </div>
        </a>
      
      </div>
    ))
  }
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.wedsml-carousel', {
  cellAlign: 'center',
  contain: true,
  freeScroll: true,
  imagesLoaded: true,  
  adaptiveHeight: true,
  prevNextButtons: false,
  pageDots: false,
  });
</script>
